// BOJE: 
// 	Narandzasta: #f75311
// 	Tamno plava (header i footer): #374249
// 	Boja fonta: #797979
// 	Naslovi: #374249
// 	Svetlo siva 1 (hover na dugmice): #cfd1d3
// 	Svetlo siva 2 (pozadina sekcija): #f3f7f9

// WEB FONTOVI: 
// 	Roboto

$orange: #f75311;
$darkBlue:  #374249;
$fontColor: #797979;
$headerColor: #374249;
$buttonHoverColor: #cfd1d3;
$sectionBackground: #f3f7f9;
$font: 'Roboto', sans-serif;