/*
BOJE: 
	Narandzasta: #f75311
	Tamno plava (header i footer): #374249
	Boja fonta: #797979
	Naslovi: #374249
	Svetlo siva 1 (hover na dugmice): #cfd1d3
	Svetlo siva 2 (pozadina sekcija): #f3f7f9

WEB FONTOVI: 
	Roboto
*/
$font-main: 'Roboto', sans-serif;

/*BOJE*/

$orange:#f75311;
$dark-blue:#374249;
$font-color:#797979;
$headings:#374249;
$light-gray:#cfd1d3;
$light-gray-bg:#f3f7f9;